<ion-view title="Order a ride" id="page1" style="">
  <ion-content padding="true" class="has-header">
    <form id="orderARide-form2" class="list">
      <label class="item item-input item-stacked-label" id="orderARide-input3">
        <span class="input-label">Pickup location</span>
        <input ng-model="order.pickup" placeholder="Liivi 2, Tartu" type="text" ng-change="geocodePickup()">
      </label>
      <label class="item item-input item-stacked-label" id="orderARide-input4">
        <span class="input-label">Destination</span>
        <input ng-model="order.dropoff" placeholder="Raatuse 22" type="text" ng-change="geocodeDropoff()">
      </label>
      <div id="orderARide-container1">
        <ion-list id="orderARide-list6">
          <ion-item class="item-icon-left item-icon-right" id="orderARide-list-oitem13" style="">
            <i class="icon ion-cash"></i>{{ price_text }}
            <i class="icon ion-android-refresh" ng-click="get_price()" ng-class="{loading: price_loading}"></i>
          </ion-item>
        </ion-list>
      </div>
      <label  class="item item-input item-stacked-label" id="orderARide-input5">
        <span class="input-label">Name</span>
        <input ng-model="order.name" placeholder="Banuelos" type="text">
      </label>
      <label class="item item-input item-stacked-label" id="orderARide-input6">
        <span class="input-label">Phone #</span>
        <input ng-model="order.phoneNumber" placeholder="+37253915322" type="tel">
      </label>
    </form>
    <button id="orderARide-button1" ng-click="submit(order)" class="button button-positive button-large button-block">Order taxi</button>
  </ion-content>
</ion-view>
