<ion-view title="Ride info" id="page2" style="">
  <ion-content padding="true" class="has-header">
    <ion-list id="rideInfo-list2">
      <ion-item id="rideInfo-list-item2" style="">From: Raekoja Plats 1, Tartu</ion-item>
      <ion-item id="rideInfo-list-item3" style="">To: Raatuse 101, Tartu</ion-item>
      <ion-item class="item-icon-left" id="rideInfo-list-item4" style="">
        <i class="icon ion-arrow-graph-up-right"></i>4.5km</ion-item>
      <ion-item class="item-icon-left" id="rideInfo-list-item5" style="">
        <i class="icon ion-cash"></i>10.4 €</ion-item>
    </ion-list>
    <h4 id="rideInfo-heading1" style="color: rgb(0, 0, 0);">Taxi</h4>
    <ion-list id="rideInfo-list3">
      <ion-item class="item-icon-left" id="rideInfo-list-item9" ui-sref="newOrder" style="">
        <i class="icon ion-android-person"></i>Daniel Morales</ion-item>
      <ion-item class="item-icon-left" id="rideInfo-list-item10" style="">
        <i class="icon ion-android-car"></i>ASD101 Peugeot 406</ion-item>
      <ion-item class="item-icon-left" id="rideInfo-list-item11" style="">
        <i class="icon ion-ios-telephone"></i>55905918</ion-item>
      <ion-item class="item-icon-left" id="rideInfo-list-item12" style="">
        <i class="icon ion-clock"></i>3 minutes</ion-item>
    </ion-list>
    <a ui-sref="orderARide" id="rideInfo-button3" class="button button-assertive  button-block">Cancel</a>
  </ion-content>
</ion-view>